.subscriptionForm{
    padding-top: 2rem;
    color: #aeb2b8;
    font-size: 20px;
}
.footerContainer{
    margin-top: 20px;
    text-align: center;
    background-color: #47525e;
}
.btn, .btn:hover {
    width: 50%;
    margin: .3rem;
    padding: .3rem;
    font-size: 1.5rem;
    background-color: #F7F7F7;
    color: #47525e;
}
.form-control-email {
    width: 50%;
    display: inline;
}
.list-group-item, .list-group-item.active{
    background-color: #47525e;
    color: #aeb2b8;
    border-color: rgba(0,0,0,.125);
}
.list-group-item:hover{
    background-color: rgb(66, 75, 85);
    color: #aeb2b8;
    border-color: rgba(0,0,0,.125);
}
.copyright{
    color: #aeb2b8;
    margin-top: 2rem;
    font-size: 15px;
}
.navMenu{
    padding-top: 2rem;
}